body{ background-image: url(https://media.istockphoto.com/photos/textured-rainbow-painted-background-picture-id534129810?k=6&m=534129810&s=612x612&w=0&h=--3hYvXUcPGghKKajaJmW3ZqV6r4-Qy08ctGL81Jo7I=); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;}
    .a{ font-family: sans-serif; 
        font-weight: 10; 
        text-align: center; 
        color: black; }
        
        form{ 
            border: 1px solid black;
            width: fit-content; 
            padding: 3em; 
            text-align: center; 
            border-radius: 10px;
             background: blue; 
             margin: auto; 
             margin-top: 10em; 
             display: block;
            } 
             input[type="submit"]
             { color: black; 
                background: orange; 
                border: none;
                padding: 5em 1em; 
                font-size: 0.5cm;
                border-radius: 0px;}
                .abc { 
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
                    cursor: pointer;
                }
                    .registerbtn 
                    { background-color: orange; 
                        color: white; 
                        padding: 16px 20px; 
                        margin: 8px 0;
                        border: none; 
                        cursor: pointer; 
                        width: 100%; 
                        opacity: 0.9; } 
                        .registerbtn:hover { opacity:1; } 
                        input[type=text], input[type=password], input[type=email], input[type=tel] { 
                            width: 100%; 
                            padding: 10px; 
                            margin: 1px 0 1px 0; 
                            display: inline-block; 
                            border: none; 
                            background: #f1f1f1; } 
                            input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus
                            { 
                                background-color: #ddd; 
                                outline: none; 
                            }